@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/*
  @layer
  관련 스타일을 별도의 레이어로 그룹화
  레이어에 추가된 모든 사용자 정의 css는 기본적으로 tailwindcss에 내장된 모든 클래스랑 마찬가지로
  해당 css가 HTML에서 실제로 사용되는 경우에만 최종 빌드에 포함된다고하니
  작성해놓고 사용하지 않는 클래스가 있더라도 걱정할 필요가 없다.

  @apply
  tailwind class를 여러개 묶음으로 한 클래스에 바인드

  콘텐츠 설정
  max-width: 1200
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--foreground-rgb));
} */

@layer base {
  body,
  html {
    @apply ease-in-out duration-300 transition-all /* bg-[#f0f8ff] */ bg-white dark:bg-[#1b1d1f] min-h-[100vh] p-0 m-0;
  }
  nav {
    @apply ease-in-out duration-300 transition-all w-full border-b-[#ececec] border-b-2;
  }
  section {
    @apply ease-in-out duration-300 transition-all flex h-auto mt-20 mb-20 mx-auto max-w-[1200px] justify-between relative overflow-hidden;
  }
  aside {
    @apply ease-in-out duration-300 transition-all h-fit min-w-[15rem] max-w-[25rem] ml-10 relative;
  }
  main {
    @apply ease-in-out duration-300 transition-all w-full h-auto relative;
  }
  footer {
    @apply ease-in-out duration-300 transition-all border-t border-t-[#eee] dark:border-t-[#eee] h-[3rem] px-16 text-[13px] flex justify-end items-center text-gray-600 dark:text-gray-300;
  }
}

@layer components {
  .card {
    @apply w-[30vmin] h-[30vmin] max-h-40 max-w-40 rounded-[100%] p-1 relative border border-t-blue-50 flex justify-center items-center text-black bg-orange-300 mx-auto;
  }
  .ct-li {
    @apply my-3 text-[1.1rem] cursor-pointer;
  }
  .ct-li:first-of-type {
    @apply border-2 border-slate-300 p-1 rounded bg-slate-100 text-black font-bold;
  }
  .feed-menu-wrapper {
    @apply text-black dark:text-white font-bold text-[1.5rem] flex items-center justify-center w-full mb-10;
  }
  .feed-menu {
    @apply flex items-center justify-center;
  }
  .fm-li {
    @apply px-10 pb-3 flex-1 whitespace-pre font-normal text-[1.1rem];
  }
  .fm-li > span:first-of-type {
    @apply font-bold;
  }
  .feed-wrapper {
    @apply border-b-[#eee] border-b-[1px] rounded-[4px] block pb-[3rem] m-[1.5rem] mb-[3rem];
  }
  .tags {
    @apply flex my-6;
  }
  .tag {
    @apply rounded-xl border-2 border-slate-500 mx-2 px-4;
  }
  .feed-title {
    @apply font-bold text-[2rem] font-[#000000] text-balance mb-[1rem];
  }
  .feed-des {
    @apply font-[#000] text-[1rem];
  }
  .feed-info {
    @apply flex justify-start mb-[1rem] items-center;
  }
  .feed-info > div {
    @apply mx-3;
  }
  .feed-info > div:first-of-type {
    @apply ml-0;
  }
}

@layer utilities {
  .basic-font-color {
    @apply text-gray-700 dark:text-white;
  }
  .basic-bg {
    @apply bg-white dark:bg-[#1b1d1f];
  }
}
