@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/*
  @layer
  관련 스타일을 별도의 레이어로 그룹화
  레이어에 추가된 모든 사용자 정의 css는 기본적으로 tailwindcss에 내장된 모든 클래스랑 마찬가지로
  해당 css가 HTML에서 실제로 사용되는 경우에만 최종 빌드에 포함된다고하니
  작성해놓고 사용하지 않는 클래스가 있더라도 걱정할 필요가 없다.

  @apply
  tailwind class를 여러개 묶음으로 한 클래스에 바인드

  콘텐츠 설정
  max-width: 1200
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--foreground-rgb));
} */

.not-draggable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@layer base {
  body,
  html {
    @apply ease-in-out duration-300 transition-all /* bg-[#f0f8ff] */ bg-white dark:bg-[#1b1d1f] min-h-[100vh] p-0 m-0;
  }
  nav {
    @apply ease-in-out duration-300 transition-all w-full /* border-b-[#ececec] border-b-2 dark:border-b-[#454c53] */;
  }
  section {
    @apply ease-in-out duration-300 transition-all flex h-auto mt-20 mb-20 mx-auto max-w-[100%] justify-between relative overflow-hidden;
  }
  aside {
    @apply ease-in-out duration-300 transition-all h-[100vh] min-w-[20rem] max-w-[30rem] px-10 bg-[aliceblue] fixed top-0 left-0 pt-20;
  }
  main {
    @apply ease-in-out duration-300 transition-all w-full h-auto relative pl-[30rem];
  }
  footer {
    @apply ease-in-out duration-300 transition-all border-t border-t-[#eee] dark:border-t-[#454c53] h-[3rem] text-[13px] flex justify-end items-center text-gray-600 dark:text-gray-300;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    -webkit-text-fill-color: #000;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 5px;
  }
}

@layer components {
  .card {
    @apply w-[10vmin] h-[10vmin] max-h-40 max-w-40 rounded-[100%] p-1 relative border border-t-blue-50 flex justify-center items-center text-black bg-orange-300 mx-auto;
  }
  .ct-li {
    @apply my-3 text-[1.1rem] cursor-pointer;
  }
  .feed-menu-wrapper {
    @apply text-black dark:text-white font-bold text-[1.5rem] flex items-center justify-center w-full mb-10;
  }
  .feed-menu {
    @apply flex items-center justify-center;
  }
  .fm-li {
    @apply px-10 pb-3 flex-1 whitespace-pre font-normal text-[1.1rem];
  }
  /* .fm-li > span:first-of-type {
    @apply font-bold;
  } */
  .feed-wrapper {
    @apply ease-in-out duration-300 transition-all border-b-[#eee] dark:border-b-[#454c53] border-b-[1px] rounded-[4px] block p-[1rem] mr-[23rem] m-[1.25rem] ml-0 mb-[2.5rem];
  }
  .tags {
    @apply flex my-6;
  }
  .tag {
    @apply rounded-xl border-2 border-slate-500 mx-2 px-4;
  }
  .feed-title {
    @apply font-bold text-[2rem] font-[#000000] text-balance mb-[0.25rem];
  }
  .feed-des {
    @apply font-[#000] text-[1rem];
  }
  .feed-info {
    @apply flex justify-start mb-[0.25rem] items-center;
  }
  .feed-info > div {
    @apply mx-3;
  }
  .feed-info > div:first-of-type {
    @apply ml-0;
  }
}

@layer utilities {
  .basic-font-color {
    @apply text-gray-700 dark:text-[#ffffff];
  }
  .basic-bg {
    @apply bg-white dark:bg-[#1b1d1f];
  }
  .shadow-header {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
  }
}

/* 21. hover-border-11 */
.hover-border-11::before,
.hover-border-11::after {
  @apply w-full h-2 bg-gray-800 absolute z-10 transition duration-[350];
}
.hover-border-11::before {
  @apply top-0 right-0;
}
.hover-border-11::after {
  @apply bottom-0 left-0;
}
.hover-border-11:hover::before,
.hover-border-11:hover::after {
  @apply w-0 transition duration-[200] ease-out delay-[200];
}

.hover-border-11 span::before,
.hover-border-11 span::after {
  @apply h-full w-2 bg-gray-800 absolute z-10 transition duration-[250];
}
.hover-border-11 span::before {
  @apply bottom-0 right-[-2px];
}
.hover-border-11 span::after {
  @apply top-0 left-[-2px];
}
.hover-border-11 span:hover::before,
.hover-border-11 span:hover::after {
  @apply h-0;
}
